@import '../../colors';

.play-audio-action {
  margin: 0 10px;
}

.action-buttons {
  display: flex;

  .action-button {
    flex: 1;
    margin: 0 5px;
    color: $color4;
    background-color: $color2;
    padding: 15px;
    text-align: center;
  }
}
